
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table border="1" width="500">
    <tr>
        <th>Mã Sinh Viên</th>
        <th>Mã Học Phần</th>
        <th>Điểm Lần 1</th>
        <th>Điểm Lần 2</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <th>@item.MASV</th>
                    <th>@item.MAHP</th>
                    <th>@item.DIEMLAN1</th>
                    <th>@item.DIEMLAN2</th>
                </tr>
            }
</table>